@import "../../global.scss";

.intro {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/assets/background/RedAndBlue.jpg");
  background-size: cover;
  background-position: center;
  display: flex;

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .box {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .box div {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
    background-color: rgba(255,255,255,.5);
    border-radius: 12px;
    }

    .box div:nth-child(1) {
      top: 12%;
      left: 42%;
      animation: animate 10s linear infinite;
      }
      .box div:nth-child(2) {
      top: 70%;
      left: 50%;
      animation: animate 7s linear infinite;
      }
      .box div:nth-child(3) {
      top: 17%;
      left: 6%;
      animation: animate 9s linear infinite;
      }
      .box div:nth-child(4) {
      top: 20%;
      left: 60%;
      animation: animate 10s linear infinite;
      }
      .box div:nth-child(5) {
      top: 67%;
      left: 10%;
      animation: animate 6s linear infinite;
      }
      .box div:nth-child(6) {
      top: 80%;
      left: 70%;
      animation: animate 12s linear infinite;
      }
      .box div:nth-child(7) {
      top: 60%;
      left: 80%;
      animation: animate 15s linear infinite;
      }
      .box div:nth-child(8) {
      top: 32%;
      left: 25%;
      animation: animate 16s linear infinite;
      }
      .box div:nth-child(9) {
      top: 90%;
      left: 25%;
      animation: animate 9s linear infinite;
      }
      .box div:nth-child(10) {
      top: 20%;
      left: 80%;
      animation: animate 5s linear infinite;
      }

  @keyframes animate {
    0% {
    transform: scale(0) translateY(0) rotate(50deg);
    }
    100% {
    transform: scale(1) translateY(-400px) rotate(360deg);
    }
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    align-self: center;

    .imgContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;

      @include mobile{
        align-items: center;
      }

      img {
        height: auto;
        width: 50%;
        max-height: 100%;
        border-radius: 20px;
        z-index: 0;
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    overflow-y: hidden;

    .wrapper {
      color: gainsboro;
      width: 100%;
      height: 100%;
      padding-top: 25%;
      padding-left: 25%;
      padding-right: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      overflow-y: hidden;

      @include mobile{
        padding-top: 10%;
        padding-left: 20%;
        padding-right: 20%;
      }

      h1 {
        font-size: 30px;
        margin: 10px 0;
      }
      h2 {
        font-size: 20px;
      }

      .icon {
        font-size: 25px;
      }
      
      // h3 {
      //   font-size: 30px;

      //   @include mobile{
      //     font-size: 20px;
      //   }

      //   span {
      //     font-size: inherit;
      //     color: crimson;
      //   }

      //   .ityped-cursor {
      //     animation: blink 1s infinite;
      //   }

      //   @keyframes blink {
      //       50%{
      //           opacity: 1;
      //       }
      //       100%{
      //           opacity: 0;
      //       }
      //   }
      // }
    }
    a {
      position: relative;
      left: calc(57% - 25px);
      bottom: 50px;

      @include mobile{
        left: calc(50% - 25px);
      }

      img {
        width: 50px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
